# Solidworks Temporary Files
# Created while files are open for editing

/EDGEVideo
/Kinect_Matlab
/myCVdataFolder
*.oni
*.jpg
*.mat
*.png
*.jpg
*.pdf
*.fig
*.csv


MachineLearning/WindowDiscriminant/*.csv